@model List<EntityFrameWork.Models.Employee>
<style>
    body {
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBfRgy3BuKOS2vtySQuip10aahY6q-jLt7KoDLarPO_A&s");
        background-repeat: no-repeat;
        background-size: cover;
    }
    table{
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        border: 3px solid black;
        background: linear-gradient(0deg, rgb(81, 211, 246) 0%, rgb(109, 153, 156) 86%);
        border-collapse: collapse;
    }

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }

    tr:hover {
        background-color:gray;
    }
</style>
<table class="table">
    <thead>
    <tr>
        
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Date Of Birth</th>
        <th></th>
        
    </tr>
    </thead>
    
    <tbody>
        @foreach (var employee in Model)
        {
        <tr>
            <td>@employee.Id</td>
            <td>@employee.Name</td>
            <td>@employee.Email</td>
            <td>@employee.Salary</td>
            <td>
                    @employee.DateOfBirth.ToString("dd-MM-yyyy")
            </td>
               <td><a href="Update/@employee.Id">Edit</a></td>
        </tr>
        }
    </tbody>
</table>
